{% extends 'base.html.twig' %}

{% block title %} Art de chiner - Modifiez votre mot de passe{% endblock %}


{% block content %}


    <h1>Modification du mot de passe</h1>

    <hr>
    <a href="{{ path('app_account') }}">Mon compte</a>
    <hr>
    {% if notification %}
        <div class="alert alert-danger">
            {{ notification }}
        </div>
    {% endif %}
    {{ form(form) }}
    <hr>
{% endblock %}
