{% extends 'base.html.twig' %}

{% block title %}{{ category.name }}{% endblock %}

{% block content %}
    {% for product in category.products %}
        <h2>{{ product.name }}</h2>
    {% endfor %}
{% endblock %}
