.navbar-item-custom, .navbar-item-custom a {

    color: green;

}

.footer-custom{
    text-align: center;
    bottom: 0;
    width: 100%;
    position: relative;
}

.product-item {
    border: 1px solid ;
    margin: 5px;
    border-radius: 5%;
    padding: 10px;
    height: 420px;
}

.product-item h5{
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 1px;

 
}

.product-item .product-subtitle{
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
}

.product-item .product-price{
    font-size: 15px;
    font-weight: bold;
}