{% extends '@EasyAdmin/page/content.html.twig' %}

{% block title %}  'Bienvenue sur le Back Office de Art de chiner' {% endblock %}

{% block content %}

<div class="container">
        <div class="row">
            <div class="col-6 alert-info">
                <span class="display-3"> {{ countUsers['value'] }} </span>utilisateur{% if countUsers['value'] > 1 %}s{% endif %} 
            </div>

        </div>
   </div>
   
{% endblock %}