{% extends 'base.html.twig' %}

{% block title %} Art de chiner - Gestion de vos adresses{% endblock %}

{% block content %}


    <h1>Adresses enregistrées</h1>

    Bonjour {{app.user.firstname}} ! Voici les adresses que vous avez enregistrées.
    <a href="{{ path('app_account') }}">Retourner à Mon Compte</a>
    <hr>

{% endblock %}
